
* {
    margin: 0;
    padding: 0;
}

body {
    
    background-color: #e6e6e6;
    padding: 10px;
    font-family: Open+Sans;
    
}

.noticia {
    
    background-color: #ffffff;
    border-radius: 0 0 2px 2px;
    box-shadow: 10px 10px 10px;
}

.noticia img {
    
    width: 100%;
    border-radius: 2px 2px 0 0;    
}

.noticia .texto {
    
    padding: 18px;
    
}

.noticia .detalhes {
    
    margin-bottom: 10px;
    text-transform: uppercase;
    
}

.noticia h2 {
    
    margin-bottom: 10px;
    font-family: open sans, sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 25px;
    
}

.noticia h2 a {
    
    text-decoration: none;
    color: #b5000d;
    
}

.noticia .quando {
    
    color: #999999;
    font-size: 13px;
    margin-left: 8px;
}

.noticia .local{
    
    font-weight: bold;
}
.texto p {
    font-family: open sans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #333333;
}









