body  {
    
}
h1 {
    color: gray;
    font-family: verdana;
    text-align: center;
    
    
}

.quando {
    margin-left: 100px; 
}
h2, p  {
    text-align: center;
    font-family: verdana;
    
}
.imagem {
      
    text-align: center;
}

.origem {
    margin-left: 80px;
}

